body   {
    background-color: #F8EFFC;
    font-family: "Cal Sans", sans-serif;
    margin: 0;
    padding: 20px;
}
a {
    color: plum;
}
.weather-app {
    background: white;
    max-width: 600px;   
    margin: 40px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding:  25px;
}


header {
    border-bottom: 1px solid #F8EFFC;
    padding: 20px;
    
}
.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search-form-input {
    background-color: #dfdff5;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
}
.search-form-button {
    background-color: plum;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}

main {
    padding: 25px 0;
}
.weather-app-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.weather-app-city {
    margin: 0;
    font-size: 38px;
}
.weather-app-details {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
}
.weather-app-details strong {
    color: #f65282;
}
.weather-app-temperature-container{
    display: flex;
    align-self: center;
    gap: 10px;
}
.weather-app-temperature{
    font-size: 70px;
    font-weight: bold;
}
.weather-app-icon {
    width: 70px;
    height: 70px;
}
.weather-app-unit {
    font-size: 22px;
}
.weather-forecast {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    margin-top: 30px;
}

.weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 14px;
}
.weather-forecast-icon {
    font-size: 32px;
    text-align: center;
}
.weather-forecast-temps {
    color: #f65282;
    display: flex;
    justify-content: center;
    gap: 5px;
}

footer {
    border-top: 1px solid #F8EFFC;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
  .search-form {
    flex-direction: row;
  }

  .search-form-input {
    flex: 1;
  }

  .search-form-button {
    width: auto;
    padding: 14px 25px;
  }

  .weather-app-data {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .weather-app-temperature {
    font-size: 88px;
  }

  .weather-app-icon {
    width: 88px;
    height: 88px;
  }
}